/target/
/crates/*/target/
/asm/custom-functions/target/

/.idea/
/.vscode/
/.venv/
/asm/custom-functions/.idea/

__pycache__/
*.py[cod]

/build/
/dist/
/bundled-project/build/
/bundled-project/dist/
/bundled-project/original/
/asm/custom-functions/out.s

*.iso
*.fbs
*.rlb

.DS_Store
Thumbs.db
